<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordermatch.main.mapper.CustomFormMapper">

	<resultMap type="String" id="rolesResult">
		<result property="roles" column="roles"></result>
	</resultMap>
	
	<resultMap type="com.ordermatch.main.customform.model.CustomFormColumn"
		id="customFormColumnResult">
		<result property="form_code" column="FORM_CODE"></result>	
		<result property="header_name" column="HEADER_NAME"></result>	
		<result property="convert_name" column="CONVERT_NAME"></result>	
		<result property="overlab_yn" column="OVERLAB_YN"></result>	
		<result property="delivery_yn" column="DELIVERY_YN"></result>	
		<result property="delivery_invoice_yn" column="DELIVERY_INVOICE_YN"></result>	
	</resultMap>

	<resultMap type="com.ordermatch.main.customform.model.CustomForm"
		id="customFormResult">
		<result property="user_id" column="USER_ID"></result>
		<result property="form_code" column="FORM_CODE"></result>
		<result property="form_name" column="FORM_NAME"></result>
		<result property="form_type" column="FORM_TYPE"></result>
		<result property="header_position" column="HEADER_POSITION"></result>
		<result property="createAt" column="CREATEAT"></result>
		<result property="modifyAt" column="MODIFYAT"></result>
		<result property="disable_time" column="DISABLE_TIME"></result>
		<collection property="customFormColumn" resultMap="customFormColumnResult"></collection>
	</resultMap>
	
	<resultMap type="com.ordermatch.main.customform.model.CustomFormList" id="customFormListResult">
		<result property="form_code" column="FORM_CODE"/>
		<result property="address" column="ADDRESS"/>
		<result property="name" column="NAME"/>
		<result property="headerCnt" column="HEADERCNT"/>
	</resultMap>
	
	<parameterMap type="com.ordermatch.main.customform.model.CustomFormParam" id="customFormParam">
		<parameter property="user_id"/>
		<parameter property="form_name"/>
	</parameterMap>
	<select id="findAllCustomForm" resultMap="customFormListResult">
		SELECT FORM_CODE
		,MAX(CASE WHEN CONVERT_NAME = '배송지' THEN HEADER_NAME END) AS 'ADDRESS'
		,MAX(CASE WHEN CONVERT_NAME = '주문자명' THEN HEADER_NAME END) AS 'NAME'
		,COUNT(*) AS 'HEADERCNT'
		FROM TB_CUSTOM_FORM_COLUMN
		GROUP BY FORM_CODE;
	</select>
	<select id="findAllCustomMenu" parameterType="int" resultMap="customFormResult">
		select a.*, b.*
		from TB_CUSTOM_FORM a
		left join TB_CUSTOM_FORM_COLUMN b on a.form_code = b.form_code
		where a.user_id = #{user_id}
		order by a.createat
	</select>

	<select id="findByFormName" parameterMap="customFormParam" resultMap="customFormResult">
		select a.*, b.*
		from TB_CUSTOM_FORM a
		left join TB_CUSTOM_FORM_COLUMN b on a.form_code = b.form_code
		where a.user_id = #{user_id} and a.form_name = #{form_name}
		order by a.createat
	</select>

	<!-- useGeneratedKeys="true" keyProperty="id" insert 성공하면 id 값 반환하도록 설정 -->
	<insert id="insertCustomMenu" parameterType="com.ordermatch.main.customform.model.CustomForm">
		INSERT INTO
		TB_CUSTOM_FORM
		(USER_ID, FORM_CODE, FORM_NAME, FORM_TYPE, HEADER_POSITION, CREATEAT, MODIFYAT, DISABLE_TIME)
		VALUES
		(#{user_id}, #{form_code}, #{form_name}, #{form_type}, #{header_position}, sysdate(), null, null)
	</insert>
	
	<insert id="insertCustomMenuColumn" parameterType="com.ordermatch.main.customform.model.CustomFormColumn">
		INSERT INTO
		TB_CUSTOM_FORM_COLUMN
		(FORM_CODE, HEADER_NAME, CONVERT_NAME, OVERLAB_YN, DELIVERY_YN, DELIVERY_INVOICE_YN)
		VALUES
		(#{form_code}, #{header_name}, #{convert_name}, #{overlab_yn}, #{delivery_yn}, #{delivery_invoice_yn})
	</insert>
</mapper>