<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordermatch.main.mapper.DeliveryFormMapper">
	<resultMap type="com.ordermatch.main.delivery.model.DeliveryCostInfo"
		id="deliveryCostInfoResult">
		<result property="form_id" column="FORM_ID"></result>	
		<result property="form_name" column="FORM_NAME"></result>	
		<result property="seller_def_yn" column="SELLER_DEF_YN"></result>	
		<result property="delivery_cost_type" column="DELIVERY_COST_TYPE"></result>	
		<result property="bundle_delivery_yn" column="BUNDLE_DELIVERY_YN"></result>	
		<result property="add_cost_jeju" column="ADD_COST_JEJU"></result>	
		<result property="add_cost_mount" column="ADD_COST_MOUNT"></result>
		<result property="cost_free_price" column="COST_FREE_PRICE"></result>
		<result property="cost_free_num_repeat" column="COST_FREE_NUM_REPEAT"></result>
		<result property="cost_free_num" column="COST_FREE_NUM"></result>
		<result property="create_at" column="CREATE_AT"></result>
		<result property="modify_at" column="MODIFY_AT"></result>
		<result property="used" column="USED"></result>
	</resultMap>
	
	<resultMap type="com.ordermatch.main.master.model.MountainAreaInfo" id="mountainAreaInfoResult">
		<result property="zonecode" column="ZONECODE"/>
		<result property="old_zip_code" column="OLD_ZIP_CODE"/>
		<result property="jibun_address" column="JIBUN_ADDRESS"/>
		<result property="road_address" column="ROAD_ADDRESS"/>
		<result property="sido" column="SIDO"/>
		<result property="sigungu_code" column="SIGUNGU_CODE"/>
		<result property="sigungu" column="SIGUNGU"/>
		<result property="load_name" column="LOAD_NAME"/>
		<result property="bname" column="BNAME"/>
		<result property="bname1" column="BNAME1"/>
		<result property="address_detail" column="ADDRESS_DETAIL"/>
		<result property="old_address_detail" column="OLD_ADDRESS_DETAIL"/>
		<result property="regional_delivery_cost" column="REGIONAL_DELIVERY_COST"/>
	</resultMap>
	
	<select id="findAllDeliveryForm" parameterType="String" resultMap="deliveryCostInfoResult">
		SELECT * 
		FROM TB_DELIVERYCOST_INFO a 
		where a.used != 1 and 
		<if test="form_name != null and form_name !=''">a.form_name LIKE '%#{form_name}%'</if>
	</select>

	<insert id="insertDeliveryForm" parameterType="com.ordermatch.main.delivery.model.DeliveryCostInfo">
		INSERT INTO
		FROM TB_DELIVERYCOST_INFO
		(FORM_NAME, SELLER_DEF_YN, DELIVERY_COST_TYPE, BUNDLE_DELIVERY_YN, ADD_COST_JEJU, ADD_COST_MOUNT, COST_FREE_PRICE, 
		COST_FREE_NUM_REPEAT, COST_FREE_NUM, CREATE_AT, MODIFY_AT, USED)
		VALUES
		(#{form_name}, #{seller_def_yn}, #{delivery_cost_type}, #{bundle_delivery_yn}, #{add_cost_jeju}, #{add_cost_mount}, #{add_free_price}, 
		#{cost_free_num_repeat}, #{cost_free_num}, sysdate(), NULL, 0)
	</insert>
	
	<update id="updateDeliveryForm" parameterType="com.ordermatch.main.delivery.model.DeliveryCostInfo">
		UPDATE TB_DELIVERYCOST_INFO
		<trim prefix="SET" suffixOverrides=",">
		<if test="form_name != null and form_name != ''">FORM_NAME = #{form_name},</if>
		<if test="seller_def_yn != null and seller_def_yn != ''">SELLER_DEF_YN = #{seller_def_yn},</if>
		<if test="delivery_cost_type != null and delivery_cost_type != ''">DELIVERY_COST_TYPE = #{delivery_cost_type},</if>
		<if test="bundle_delivery_yn != null and bundle_delivery_yn != ''">BUNDLE_DELIVERY_YN = #{bundle_delivery_yn},</if>
		<if test="add_cost_jeju != null and add_cost_jeju != ''">ADD_COST_JEJU = #{add_cost_jeju},</if>
		<if test="add_cost_mount != null and add_cost_mount != ''">ADD_COST_MOUNT = #{add_cost_mount},</if>
		<if test="add_free_price != null and add_free_price != ''">COST_FREE_PRICE = #{add_free_price},</if>
		<if test="cost_free_num_repeat != null and cost_free_num_repeat != ''">COST_FREE_NUM_REPEAT = #{cost_free_num_repeat},</if>
		<if test="cost_free_num != null and cost_free_num != ''">COST_FREE_NUM = #{cost_free_num},</if>
		<if test="used != null and used != ''">USED = #{used},</if>
		MODIFY_AT = sysdate()
		WHERE FORM_ID = #{form_id}
		</trim>
	</update>
</mapper>