<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordermatch.main.mapper.UserMapper">

	<resultMap type="String" id="rolesResult">
		<result property="roles" column="roles"></result>
	</resultMap>
	
	<resultMap type="com.ordermatch.main.user.model.Company"
		id="companyResult">
		<result property="company_ein" column="COMPANY_EIN"></result>	
		<result property="company_type" column="COMPANY_TYPE"></result>	
		<result property="company_name" column="COMPANY_NAME"></result>	
		<result property="company_category" column="COMPANY_CATEGORY"></result>	
		<result property="company_tel" column="COMPANY_TEL"></result>	
		<result property="company_fax" column="COMPANY_FAX"></result>	
		<result property="company_address" column="COMPANY_ADDRESS"></result>	
		<result property="company_img" column="COMPANY_IMG"></result>
		<result property="ceo_name" column="CEO_NAME"></result>
	</resultMap>

	<resultMap type="com.ordermatch.main.user.model.User"
		id="userResult">
		<result property="user_id" column="USER_ID"></result>
		<result property="username" column="USERNAME"></result>
		<result property="password" column="PASSWORD"></result>
		<result property="username" column="USERNAME"></result>
		<result property="manager_tel" column="MANAGER_TEL"></result>
		<result property="manager_name" column="MANAGER_NAME"></result>
		<result property="manager_email" column="MANAGER_EMAIL"></result>
		<result property="cal_manager_name" column="CAL_MANAGER_NAME"></result>
		<result property="cal_manager_tel" column="CAL_MANAGER_TEL"></result>
		<result property="cal_manager_email" column="CAL_MANAGER_EMAIL"></result>
		<result property="zonecode" column="ZONECODE"></result>
		<result property="jibunAddress" column="JIBUN_ADDRESS"></result>
		<result property="roadAddress" column="ROAD_ADDRESS"></result>
		<result property="detailAddress" column="DETAIL_ADDRESS"></result>
		<result property="createAt" column="CREATEAT"></result>
		<result property="modifyAt" column="MODIFYAT"></result>
		<result property="disable_time" column="DISABLE_TIME"></result>
		<collection property="roles" resultMap="rolesResult"></collection>
		<collection property="company" resultMap="companyResult"></collection>
	</resultMap>

	<select id="selectAllUser" resultMap="userResult">
		select a.*, b.roles, c.*
		from
		TB_USER a
		left join ROLES b on a.user_id = b.user_id
		left join TB_COMPANY c on a.user_id = c.user_id
		order by a.user_id desc
	</select>

	<select id="findById" parameterType="int" resultMap="userResult">
		select a.*, b.roles, c.*
		from TB_USER a
		left join ROLES b on a.user_id = b.user_id
		left join TB_COMPANY c on a.user_id = c.user_id
		where a.user_id = #{id}
	</select>

	<select id="findByUsername" parameterType="String" resultMap="userResult">
		select a.*, b.roles, c.*
		from TB_USER a
		left join ROLES b on a.user_id = b.user_id
		left join TB_COMPANY c on a.user_id = c.user_id
		where a.username = #{username}
	</select>

	<!-- useGeneratedKeys="true" keyProperty="id" insert 성공하면 id 값 반환하도록 설정 -->
	<insert id="insertUser"
		parameterType="com.ordermatch.main.user.model.User" useGeneratedKeys="true" keyProperty="user_id">
		INSERT INTO
		TB_USER
		(USERNAME, PASSWORD, MANAGER_NAME, MANAGER_TEL, MANAGER_EMAIL,
		CAL_MANAGER_NAME, CAL_MANAGER_TEL, CAL_MANAGER_EMAIL, CREATEAT, MODIFYAT, DISABLE_TIME) 
		VALUES
		(#{username}, #{password}, #{manager_name}, #{manager_tel}, #{manager_email}, #{cal_manager_name}, #{cal_manager_tel}, #{cal_manager_email}, sysdate(), null, null);
	</insert>

	<insert id="insertRole" parameterType="hashmap">
		insert into ROLES(user_id,
		roles) values(#{user_id}, #{roles})
	</insert>

	<update id="updateUser" parameterType="com.ordermatch.main.user.model.UserParam">
		UPDATE TB_USER A
		INNER JOIN TB_COMPANY B
		ON A.USER_ID = B.USER_ID
		<trim prefix="SET" suffixOverrides=",">
		<if test="username != null">A.USERNAME = #{username},</if>
		<if test="password != null">A.PASSWORD = #{password},</if>
		<if test="manager_name != null">A.MANAGER_NAME = #{manager_name},</if>
		<if test="manager_tel != null">A.MANAGER_TEL = #{manager_tel},</if>
		<if test="manager_email != null">A.MANAGER_EMAIL = #{manager_email},</if>
		<if test="cal_manager_name != null">A.CAL_MANAGER_NAME = #{cal_manager_name},</if>
		<if test="cal_manager_tel != null">A.CAL_MANAGER_TEL = #{cal_manager_tel},</if>
		<if test="cal_manager_email != null">A.CAL_MANAGER_EMAIL = #{cal_manager_email},</if>
		<if test="zonecode != null">A.ZONECODE = #{zonecode},</if>
		<if test="jibunAddress != null">A.JIBUN_ADDRESS = #{jibunAddress},</if>
		<if test="roadAddress != null">A.ROAD_ADDRESS = #{roadAddress},</if>
		<if test="detailAddress != null">A.DETAIL_ADDRESS = #{detailAddress},</if>
		<if test="modifyAt != null">A.MODIFYAT = sysdate(),</if>
		<if test="disable_time != null">A.DISABLE_TIME = #{disable_time},</if>
		<if test="company_ein != null">B.COMPANY_EIN = #{company_ein},</if>
		<if test="company_type != null">B.COMPANY_TYPE = #{company_type},</if>
		<if test="company_name != null">B.COMPANY_NAME = #{company_name},</if>
		<if test="company_category != null">B.COMPANY_CATEGORY = #{company_category},</if>
		<if test="company_tel != null">B.COMPANY_TEL = #{company_tel},</if>
		<if test="company_fax != null">B.COMPANY_FAX = #{company_fax},</if>
		<if test="company_address != null">B.COMPANY_ADDRESS = #{company_address},</if>
		<if test="company_img != null">B.COMPANY_IMG = #{company_img},</if>
		<if test="ceo_name != null">B.CEO_NAME = #{ceo_name},</if>
		</trim>
		WHERE A.USERNAME = #{username}
	</update>

	<delete id="deleteUser" parameterType="int">
		delete from TB_USER where
		id = #{id}
	</delete>
	<select id="getNow" resultType="java.lang.String">
		select now()
	</select>
</mapper>