<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordermatch.main.mapper.UserMapper">

	<resultMap type="String" id="rolesResult">
		<result property="roles" column="roles"></result>
	</resultMap>

	<resultMap type="com.ordermatch.main.user.model.User"
		id="userResult">
		<result property="id" column="id"></result>
		<result property="username" column="username"></result>
		<result property="password" column="password"></result>
		<result property="createAt" column="createat"></result>
		<result property="modifyAt" column="modifyat"></result>
		<result property="company_type" column="company_type"></result>
		<result property="company_name" column="company_name"></result>
		<result property="repressntative" column="repressntative"></result>
		<result property="officeNo" column="officeNo"></result>
		<result property="business" column="business"></result>
		<result property="businessType" column="businessType"></result>
		<result property="tel" column="tel"></result>
		<result property="fax" column="fax"></result>
		<result property="addr_num" column="addr_num"></result>
		<result property="addr" column="addr"></result>
		<result property="detail_addr" column="detail_addr"></result>
		<result property="charge_name" column="charge_name"></result>
		<result property="charge_tel" column="charge_tel"></result>
		<result property="charge_email" column="charge_email"></result>
		<result property="approval" column="approval"></result>
		<result property="approval_dt" column="approval_dt"></result>
		<collection property="roles" resultMap="rolesResult"></collection>
	</resultMap>

	<select id="selectAllUser" resultMap="userResult">
		select a.*, b.roles
		from
		TB_USER a
		left join ROLES b on a.id = b.user_id
		order by a.id desc
	</select>

	<select id="findById" parameterType="int" resultMap="userResult">
		select a.*,
		b.roles
		from TB_USER a
		left join ROLES b on a.id = b.user_id
		where a.id =
		#{id}
	</select>

	<select id="findByUsername" parameterType="String"
		resultMap="userResult">
		select a.*, b.roles
		from TB_USER a
		left join ROLES b on a.id =
		b.user_id
		where a.username = #{username}
	</select>

	<!-- useGeneratedKeys="true" keyProperty="id" insert 성공하면 id 값 반환하도록 설정 -->
	<insert id="insertUser"
		parameterType="com.ordermatch.main.user.model.User"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		TB_USER
		(USERNAME, PASSWORD, COMPANY_TYPE, COMPANY_NAME, REPRESSNTATIVE, OFFICENO, BUSINESS, BUSINESS_TYPE, TEL, FAX, ADDR_NUM, ADDR, DETAIL_ADDR, CHARGE_NAME, CHARGE_TEL, CHARGE_EMAIL, CREATEAT) 
		VALUES
		(#{username}, #{password}, #{company_type} ,#{company_name},#{repressntative},#{officeNo},#{business},#{businessType},#{tel},#{fax},#{addr_num},#{addr},#{detail_addr},#{charge_name},#{charge_tel},#{charge_email}, sysdate())
	</insert>

	<insert id="insertRole" parameterType="hashmap">
		insert into ROLES(user_id,
		roles) values(#{user_id}, #{roles})
	</insert>

	<update id="updateUser"
		parameterType="com.ordermatch.main.user.model.User"
		useGeneratedKeys="true" keyProperty="id">
		update TB_USER a inner join ROLES
		b
		on a.id = b.user_id
		set username = #{username}, password =
		#{password}, modifyat = sysdate()
		where a.id = #{id}
	</update>

	<delete id="deleteUser" parameterType="int">
		delete from TB_USER where
		id = #{id}
	</delete>
	<select id="getNow" resultType="java.lang.String">
		select now()
	</select>
</mapper>